
h1 {
    font-size: 50px;
    color: rgb(50, 30, 10);
    margin: 0;
}

#description {
    margin: 24px
}

a {
    padding: 12px 48px;
    background-color: rgb(116, 17, 8);
    color: white;
    font-size: 32px;
    border-radius: 10px;
    display: inline-block;
    margin: 0;
    }

a:hover {
    background-color: rgb(125, 30, 20);
    text-decoration: none;
}

h2 {
    font-family: 'Oswald', sans-serif;
    color: rgb(64, 40, 13);
}

/* header p {
    margin: 0;
} */

main p {
    margin: 12px;
    color: rgb(13, 76, 105);
}

ol {
    list-style: none;
    width: 400px;
    margin: 36px auto 0 auto;
    padding: 0;
}

li {
    padding: 5px;
    margin: 20px;
    background-color: rgb(255, 143, 51);
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}

.highlighted-goal {
    background-color: rgb(209, 11, 11);
}